@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

:root{
    --header-background-color: #1992d4;
    --header-button-color: #1d79aa;
    --header-button-focus-color: #0a4564;
    --header-text-color: white;
    --card-background-color:#e2e8f0;
}

html,
body,
* {
    font-family: 'Roboto', sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-between;
    background-color: var(--header-background-color);
}
.header form{
    display: flex;
    flex: 5;
    gap: 1rem;
}
form #header-img{
    height: 2rem;
    width: 2rem;
    align-self: center;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(216deg) brightness(105%) contrast(101%);
}
form input{
    height: 2rem;
    align-self: center;
    flex: 1;
    border-radius: 5px;
    border-style: none;
}

.header #search{
    height: 2rem;
    max-width: 10rem;
    flex: 1;
    color: var(--header-text-color);
    border-style: none;
    border-radius: 10px;
    background-color: var(--header-button-color);
    align-self: center;
}

.header #search:active{
    background-color: var(--header-button-focus-color);
}
.container{
    display: grid;
    grid-template-columns: repeat(4, minmax(20rem,1fr));
    margin: 2rem;
}

.container .card{
    display: flex;
    flex-direction: column;
    justify-self: center;
    background-color: var(--card-background-color);
    border-style:solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 2rem;
    gap: 2rem;
}

.card img{
    height: 5rem;
    width: 5rem;
    align-self: center;
}

.card > p{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.card #temp{
    font-size: 2rem;
    font-weight: bold;
    border-style: none;
    background-color: transparent;
}